<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.signincouse">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.BAIDY_LOCATION_SERVICE" />

    <application
        android:name="com.example.signincouse.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="5Web48gCVG8OVKxlPa3DxQ7G7NONegSq" />

        <activity
            android:name="com.example.signincouse.ui.Login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.signincouse.ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.signincouse.secondlayer.CourseInfo"
            android:theme="@style/CourseInfoTheme" />
        <activity
            android:name="com.example.signincouse.secondlayer.DownloadCourse"
            android:theme="@style/ChangeBackgroundTheme" />
        <activity
            android:name="com.example.signincouse.secondlayer.ChangeBackground"
            android:theme="@style/ChangeBackgroundTheme" />

        <!-- 考勤 -->
        <activity android:name="com.example.signincouse.ui.TeacherSignActivity" />
        <activity android:name="com.example.signincouse.ui.TeacherStartSignActivity" />
        <activity android:name="com.example.signincouse.ui.StudentSignActivity" />
        <activity android:name="com.example.signincouse.ui.ShowZxingUrlActivity" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <service android:name="com.example.push.PushService" />

        <activity android:name="com.example.signincouse.ui.MessageListActivity" />
        <activity android:name="com.example.signincouse.ui.AskForLeaveActivity"></activity>
    </application>

</manifest>
